@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.airrecord {
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to bottom right, $darkish-green, $dark-blue-green);
    color: $light-yellow;
    font-family: 'Roboto', sans-serif;
  }

  .airrecfoot {
    width: 100%;
    height: 5vh;
    background: linear-gradient(to bottom right, $dark-blue-green, $dark-blue);
    position: absolute;
    bottom: 0;
}

.airrecheader {
    width: 98.25%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, $dark-blue-green, $dark-blue);
    padding: 16px;
}

.airrecleftpanel {
    position: absolute;
    left: 150px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.airrecordborder {
    width: 47vw;
    border: 3px solid $light-yellow;
    border-radius: 2px;
    margin: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-left: 12px;
}

.airreclineitem {
    color: $light-yellow;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 20px;
}

.airrectitle {
    color: $light-yellow;
    font-family: 'Roboto', sans-serif;
}

.bton {
  background: linear-gradient(to bottom right, $darkish-green, $dark-blue-green);
  color: $light-yellow;
  border-radius: 5px;
  margin: 22px;
  height: 51px;
  width: 158px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: $light-yellow;
}

.bton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bton:hover span {
  padding-right: 25px;
}

.bton:hover span:after {
  opacity: 1;
  right: 0;
}

  .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  }
  
  .react-confirm-alert {
    font-family: 'Roboto', sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: linear-gradient(to bottom right, $dark-blue-green, $dark-blue);
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: $light-yellow;
  }
  
  .react-confirm-alert-svg{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .react-confirm-alert > h1 {
    margin-top: 0;
  }
  
  .react-confirm-alert > h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .react-confirm-alert-button-group > button {
    outline: none;
    background: linear-gradient(to bottom right, #00A896, #02C39A);
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: $light-yellow;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  @-webkit-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }