@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.airlinemanagement {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to bottom right, $darkish-green, $dark-blue-green);
    color: $light-yellow;
    font-family: 'Roboto', sans-serif;
  }
  
.airlinemheader {
    width: 98%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right,$dark-blue-green, $dark-blue);
    padding: 16px;
}

.airlinemrec {
    width: 47vw;
    /* height: 8vh; */
    border: 3px solid $light-yellow;
    border-radius: 2px;
    margin: 7px;
    padding-left: 24px;
}

.airlinemh {
    color: $light-yellow;
    font-family: 'Roboto', sans-serif;
}

.reclineitem {
    color: $light-yellow;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 20px;
}

.airmgmtleftpanel {
  position: absolute;
  left: 150px;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.airlinemrec:hover {
    background: linear-gradient(to bottom right, $dark-blue-green, $dark-blue)
}

.chaos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bton {
  background: linear-gradient(to bottom right, $darkish-green, $dark-blue-green);
  color: $light-yellow;
  border-radius: 5px;
  margin: 22px;
  height: 51px;
  width: 158px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: white;
}

.bton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bton:hover span {
  padding-right: 25px;
}

.bton:hover span:after {
  opacity: 1;
  right: 0;
}