@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.airlinemgmt {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to bottom right, tomato, orangered);
    color: white;
    font-family: 'Roboto', sans-serif;
  }

.airheader {
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, orangered, tomato);
    padding: 16px;
}

.airrec {
    width: 67vw;
    /* height: 8vh; */
    border: 3px solid white;
    border-radius: 2px;
    margin: 7px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.data {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.btn {
  background: linear-gradient(to bottom right, tomato,orangered);
  color: white;
  border-radius: 5px;
  margin: 22px;
  height: 51px;
  width: 158px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: white;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}