// TABLE OF CONTENTS

// 1. Colors


// ===== 1. COLORS ===== //

$light: #EEE;
$medium: #999;
$dark: #222;

$font-color: #ffffff;
$light-yellow: #F0F3BD;
$light-seagreen: #02C39A;
$darkish-green: #00A896;
$dark-blue-green: #028090;
$dark-blue: #05668D;